* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-top {
    gap: 230px;
    width: 1920px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #0C4B35;
    color: var(--main-bg-white-color, #FFF);
    /* Card / Paragraph Font */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
div {
    display: flex;
    margin-left: 30px;
}
.header-contact {
    max-width: 1410px;
    display: flex;
    img {
        margin-right: 10px;
    }
}
 .header-lang {
    align-items: center;
    display: flex;
    p{
        margin-right: 5px;
    }
 }
}
.header-botton {
    align-items: center;
    height: 85px;
    width: 1920px;
    justify-content: space-around;
    display: flex;
    color: var(--typography-heading-color, #212529);
    /* Button/Button Text */
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: capitalize;
    .logo {
        display: flex;
        align-items: center;
    }
    .menu {
        display: flex;
        gap: 101px;
        ul {
            display: flex;
            gap: 55px;
            li {
                list-style: none;
            }
            li:hover {
                color: #00730C;
            }
        }
    }
    .button-header-call {
        background-position-y: 10px;
        background-position-x: 40px;
        background-size: 18%;
        width: 170px;
        height: 50px;
        background-repeat: no-repeat;
        background-image: url(./images/phone.svg);
        border-radius: 5px;
        justify-content: space-evenly;
        display: flex;
        background-color: #00730C;
    }
    p{
        padding-left: 40px;
        color: #FFF;
    }
}
.button-header-call:hover {
    border-radius: 5px;
border: 1px solid #00730C;
    background-color: white;
    background-image: url(./images/phone\ white.svg);
    p {
        color: black;

    }
}

.main-block {
    width: 1920px;
    height: 719px;
    margin-bottom: 100px;
    justify-content: flex-start;
    display: flex;
    background: var(--main-gradient-1-color, linear-gradient(80deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0.00) 90.23%));
    .small-front-img {
        position: relative;
        top: 20rem;
    }
    .front-content {
        width: 34%;
        justify-content: flex-end;
        flex-direction: column;
        display: flex;
        margin-right: 30px;
         margin-left: 20px;
         margin-bottom: 80px;
                .text-1 {
                color: var(--typography-heading-font-color, #212529);
                /* Button/Button Text */
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 20px; /* 125% */
                text-transform: capitalize;
                
        }
                    .text-2 {
                    color: var(--typography-heading-font-color, #212529);

                    /* H2/Extra Bold */
                    font-family: Nunito;
                    font-size: 58px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                            span {
                            color: #00730C;
                                    }
        } 
        p{
            color: var(--typography-paragraph-color, #676767);
            /* H6/Regular */
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; /* 166.667% */
        }
         .button-front {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            button {
                justify-content: center;
                display: flex;
                align-items: center;
                 color: var(--typography-font-white-color, #FFF);
                /* Button/Button Text */
                font-family: Nunito;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 133.333% */
                text-transform: capitalize;
                margin-right: 30px;
                border-radius: 5px;
                border: none;
                background-color: #00730C;
                width: 175px;
                height: 50px;
            }
            button:hover {
                color: #00730C;
                background-color: #ffffff;
                border-radius: 5px;
                border: 1px solid #00730C;
            }
         }
         .img-arrow {
            margin-left: 15px;
         }
         .statistics {
            margin-top: 2rem;
            color: var(--typography-heading-font-color, #212529);
font-family: Nunito;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
            display: flex;
            align-items: center;
            div {
                margin-right: 10px;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
                display: flex;
                border-radius: 35px;
background: linear-gradient(73deg, #00730C -83.5%, #F9F9F9 93.84%);
            }
            p {
                margin-right: 30px;
                color: var(--typography-heading-font-color, #212529);
                font-family: Nunito;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
          
         }
    }
    p:hover {
        color: #00730C;
    }
}

.front-img {
    img {
        top: 9.8rem;
        position: absolute; 
    }
} 
.content {
    
    margin: auto;
    max-width: 1136px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
     .big-text {
            color: var(--typography-heading-font-color, #212529);
            /* H3/Extra Bold */
            font-family: Nunito;
            font-size: 45px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
                 .color-text {
                     color: #00730C;
                 }
     }
     .small-text {
        color: var(--typography-paragraph-color, #676767);
        text-align: center;
        /* H6/Regular */
        font-family: Nunito;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
     }
}
.menu-content {
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 1410px;
    display: flex;
    gap: 10px;
}
.menu-content-text {
    background-position-y: 60px;
    background-position-x: 140px;
    background-repeat: no-repeat;
    background-image: url(./images/Layer-3-\ green.svg);
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    text-align: center;
    padding-left: 42px;
    padding-right: 42px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 330px;
    height: 366px;
    img {
        width: 70px;
        height: 70px;
    }
    .icon-bg {
        margin-bottom: 11rem;
        width: 176px;
        height: 176px;
        position: absolute;
        opacity: 0.2;
    }
    .strong-text {
        padding-top: 80px;
        /* H5/Bold */
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }
    .small-text {
        /* Extra Font/Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
    }
}

.menu-content-text:hover{
    background-color: #00730C;
        background-image: url(./images/Layer\ 3.svg);
        color: var(--typography-font-white-color, #FFF);

    
}


.menu-content-text-2 {
    margin-bottom: 100px;
    text-align: center;
    padding-left: 42px;
    padding-right: 42px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 330px;
    height: 366px;
    border-radius: 10px;
    background: linear-gradient(172deg, #FFF -10.79%, #FFF 94.04%);
    /* Normal Shadow */
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
        img {
        width: 70px;
        height: 70px;
    }
        .icon-bg {
        margin-bottom: 11rem;
        width: 176px;
        height: 176px;
        position: absolute;
        opacity: 0.2;
    }
        .strong-text-2 {
        color: var(--typography-heading-font-color, #212529);
        text-align: center;
        /* H5/Bold */
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
    }
    .small-text-2 {
        color: var(--typography-heading-font-color, #212529);
        text-align: center;
        /* Extra Font/Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 175% */
    }
}

.about-us {
    display: flex;
    height: 903px;
        .about-us-content{
            display: flex;
            width: 1410px;
            margin: auto;
            gap: 300px;
    }
        .img-bg {
        background-color: #00730C;
        width: 450px;
        height: 706px;
        .img-1 {
            position: relative;
            left: 1rem;
            top: 2rem;
        }
        .img-2 {
            bottom: 8rem;
            left: 14rem;
            position: relative;

        }
    }
}

.top-text {
    color: var(--typography-heading-font-color, #212529);
    /* H3/Extra Bold */
    font-family: Nunito;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 1rem;
        .color-text {
            color: #00730C;
        }
        .bottom-text {
            width: 630px;
            margin-bottom: 50px;
            margin-top: 30px;
            color: var(--typography-paragraph-color, #676767);
            /* Extra Font/Regular */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
        }
}
.icon {
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    display: flex;
    width: 690px;
    .icon-conteiner {
        margin-bottom: 60px;
        display: flex;
        width: 300px;
        .text {
            margin-left: -1.5rem;
            color: var(--typography-heading-font-color, #212529);
             /* H5/Bold */
            font-family: Nunito;
            font-size: 24px;
            font-style: normal;
             font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
        }
    }
    .icon-bg-2 {
        position: relative;
        right: 59px;
    }
}
.more {
    color: var(--typography-font-white-color, #FFF);
    /* Button/Button Text */
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    text-transform: capitalize;
    border-radius: 5px;
    background-color: #00730C;
    border: none;
    width: 190px;
    height: 50px;
   
}
.more:hover {
    color: #00730C;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #00730C;
}